.nav-logo {
  height: 60px;
}

.fixed-top.scrolled {
  background-color: var(--color-blue) !important;
  transition: all 200ms linear;

  box-shadow: 0 3px 15px rgba(0,0,0,.3);
}

.nav-link {
  color: var(--color-green) !important;
  margin-right: 12.5px;
}

.resume-btn {
  transform: translateY(8px);
}
